@page "/memberdetail/{id}"
@inherits MemberDetailBase

@{
    if (TeamMember == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <a href="/membercreateedit/@TeamMember.Id" class="btn btn-primary">Edit details</a>
        <a href="/" class="btn btn-primary">Back</a>
        <div class="container-fluid bg-1 text-center">
            <h3 class="margin">Who Am I?</h3>
            <img src="@TeamMember.imgUrl" class="rounded" style="display:inline" alt="my image" width="350" height="350">
            <h3>Replicator @TeamMember.Name aka @TeamMember.FunName</h3>
            <h4>@TeamMember.Designation</h4>
            <h4>Replicating since @TeamMember.Experience years</h4>
        </div>

        <div class="container-fluid bg-2 text-center">
            <h3 class="margin">What are my skills ?</h3>
            <h5>Primary : @TeamMember.PrimarySkills</h5>
            <h5>Secondary : @TeamMember.SecondarySkills</h5>
        </div>

        <div class="container-fluid bg-3 text-center">
            <h3 class="margin">Where To Find Me?</h3><br>
            <div class="row">
                <div class="col-sm-4">
                    Facebook Link
                </div>
                <div class="col-sm-4">
                    LinkedIn Link
                </div>
            </div>
        </div>

    }
}