@page "/memberdetail/{id}"
@inherits MemberDetailBase

@{
    if (TeamMember == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <a href="/membercreateedit/@TeamMember.Id" class="btn btn-primary">Edit details</a>
        <a href="/" class="btn btn-primary">Back</a>

        <div class="container-fluid bg-1">
            <h3 class="margin text-center">Who Am I?</h3><br>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Experience</th>
                        <th>Referred As</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="@TeamMember.imgUrl" class="rounded-circle" width="300" height="300" /></td>
                        <td>@TeamMember.Id</td>
                        <td>@TeamMember.Name</td>
                        <td>@TeamMember.Designation</td>
                        <td>@TeamMember.Experience</td>
                        <td>@TeamMember.FunName</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid bg-2">
            <h3 class="margin text-center">My Technical interests?</h3><br>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Primary Skills</th>
                    <th>Secondary Skills</th>
                    <th>Interested to work on</th>
                    <th>Happiness Index</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@TeamMember.PrimarySkills</td>
                    <td>@TeamMember.SecondarySkills</td>
                    <td>@TeamMember.InterestedTechnologies</td>
                    <td>@TeamMember.HappinessIndex</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container-fluid bg-3">
            <h3 class="margin text-center">Where To Find Me?</h3><br>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th><a href="@TeamMember.FacebookLink" class="oi-account-login">Facebook</a></th>
                    <th><a href="@TeamMember.InstagramLink" class="oi-account-login">Instagram</a></th>
                    <th><a href="@TeamMember.LinkedInLink" class="oi-account-login">LinkedIn</a></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    }
}