@page "/memberlist"
@inherits MemberListBase
@attribute [Authorize]
@{
    if (Members == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <h3>Member List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Members)
                {
                    <tr>
                        <td><img src="@member.imgUrl" class="rounded-circle" width="250" height="250" /></td>
                        <td>@member.Name</td>
                        <td>@member.Designation</td>
                        <td>
                            <a href="@($"memberdetail/{member.TeamMemberId}")" class="btn btn-primary table-btn">
                                Details
                            </a>
                        </td>
                        <td>
                            <a href="@($"membercreateedit/{member.TeamMemberId}")" class="btn btn-primary table-btn">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}